@font-face {
  font-family: "Soliden Trial";
  src: url("../fonts/SolidenTrial-BlackExpanded.eot");
  src: url("../fonts/SolidenTrial-BlackExpanded.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SolidenTrial-BlackExpanded.woff2") format("woff2"),
    url("../fonts/SolidenTrial-BlackExpanded.woff") format("woff"),
    url("../fonts/SolidenTrial-BlackExpanded.ttf") format("truetype"),
    url("../fonts/SolidenTrial-BlackExpanded.svg#SolidenTrial-BlackExpanded")
      format("svg");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.space-bit {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.col-rev {
  flex-direction: column-reverse;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Soliden Trial";
  font-size: 6rem;
}

h2 {
  font-family: "Soliden Trial";
  font-size: 5.4rem;
}

h3 {
  font-family: "Soliden Trial";
  font-size: 4rem;
}

.nav {
  padding: 1.5rem 6rem;
  margin-top: 2rem;
  border-top: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
  margin-bottom: 4rem;
  overflow: hidden;
}

.logo {
  position: relative;
}

.logo::before {
  content: "\ebe2";
  font-family: "remixicon";
  position: absolute;
  right: -2.2rem;
}

.logo:after {
  content: "model management";
  position: absolute;
  bottom: -0.1rem;
  right: 0;
  font-size: 1.2rem;
  color: #8c8c8c;
}

.logo h2 {
  font-family: "Soliden Trial";
  letter-spacing: -0.3rem;
}

.menu-list.flex {
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  padding: 3.4rem 6.6rem;
  border-right: 0.2rem solid #000;
  font-weight: 600;
}

.menu-list div i.ri-search-line {
  font-size: 3rem;
}

.video {
  position: relative;
  width: calc(100% - 12rem);
  height: 90vh;
  margin: 0 6rem;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.overlay > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.video h1 {
  font-family: "Soliden Trial";
  color: #fff;
  max-width: 59rem;
  margin-bottom: 4rem;
}

.video-title p {
  color: #fff;
  padding: 3.5rem 4.2rem;
  border: 0.1rem solid #fff;
  border-radius: 15rem;
}

.video-link {
  margin-top: 2rem;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.video-link svg {
  width: 5rem;
  height: auto;
}

.modal-marque {
  width: 100%;
  overflow: hidden;
  padding: 6rem 0;
  white-space: nowrap;
}

.modal-container {
  width: 100%;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.modal-container:hover {
  animation-play-state: paused;
}

.modal-details {
  display: inline-block;
  gap: 2rem;
  margin: 0 2.5rem;
  text-align: center;
  width: 10%;
}

.modal-details img {
  width: 100%;
  height: 14.5rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.5s ease;
}

.modal-details:hover img {
  transform: scale(1.1);
}

.movie-shot-wrapper {
  height: 95vh;
}

.movie-shot-right {
  padding-left: 7rem;
}

.movie-shot-right > div {
  height: 50%;
}

.movie-shot-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.movie-shot-details > p {
  font-size: 2.5rem;
  max-width: 45rem;
  font-weight: bold;
}

.movie-shot-details .movie-desc {
  font-size: 1.5rem;
  max-width: 100%;
}

.movie-shot-imgs img:first-child {
  width: 60%;
  padding-right: 3rem;
}

.movie-shot-imgs img:last-child {
  width: 40%;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-28%);
  }
}

.category {
  padding: 2.5rem 6rem;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
  overflow-y: auto;
  flex-wrap: nowrap;
  border-top: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
}

.category::-webkit-scrollbar {
  display: none;
}

.category-txt {
  gap: 4rem;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.category-txt p {
  position: relative;
}

.category-txt p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  opacity: 0;
  border: 0.1rem solid #000;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.category-txt p:hover::after {
  width: 3rem;
  height: 2.2rem;
  opacity: 1;
}

.vogue-shot.flex {
  width: calc(100% - 12rem);
  margin: 6rem 6rem;
}

.vogue-shot.flex > div:first-child {
  width: 55%;
  padding-right: 5rem;
}
.vogue-shot.flex > div:last-child {
  width: 45%;
}

.vogue-shot.flex > div img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  margin-bottom: 2.5rem;
  transform: scaleX(-1);
}

.vogue-shot.flex > div:last-child img {
  height: 65vh;
  object-position: top;
  transform: scaleX(1);
}

.shot-right-bottom div:first-child p {
  font-weight: bold;
  font-size: 2.5rem;
}

.shot-right-bottom div:last-child p {
  font-weight: normal;
  text-align: justify;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 10rem;
}

.our-work {
  width: calc(100% - 12rem);
  margin: 6rem;
}

.our-work-wrapper > div:first-child {
  width: 40%;
}

.our-work-wrapper > div:last-child {
  width: 60%;
  padding-left: 10rem;
}

.our-work-txt {
  display: flex;
  align-items: end;
  position: relative;
}

.our-work-txt::before {
  content: "";
  top: 13%;
  left: 20%;
  position: absolute;
  width: 35rem;
  height: 35rem;
  background-image: url(../images/works-en.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  transition: all 1s ease;
  /* transform: translate(-30%, -35%); */
}

.our-work-txt h4 {
  max-width: 50rem;
  font-size: 2.5rem;
}

.our-work-img img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: top;
}

.movie-shot {
  width: calc(100% - 12rem);
  margin: 6rem;
}

.movie-shot-wrapper > div {
  width: 50%;
}

.video-2 {
  padding: 1rem 0;
  margin: 0 6rem;
  background-color: #000;
  height: 90vh;
  overflow: hidden;
}

.video-2 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-shot-3 {
  margin: 6rem;
  overflow: hidden;
}

.movie-shot-3-wrappr > div:first-child {
  width: 60%;
  padding-right: 4rem;
}

.movie-shot-3-wrappr > div:first-child {
  height: 94vh;
}

.movie-shot-3-wrappr > div:last-child {
  width: 40%;
}

.movie-shot-3-right-img {
  height: 70vh;
}

.movie-shot-3-wrappr img {
  padding-bottom: 2rem;
}

.movie-shot-3-right-txt h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.movie-shot-3-right-txt p {
  font-size: 1.2rem;
  padding-left: 2rem;
  font-weight: 600;
}

.upldates {
  width: calc(100% - 12rem);
  margin: 0 6rem;
  padding: 6rem 0;
}

.update-rows {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.update-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2.5rem 0;
  border-top: 1px solid #000;
  position: relative;
}

.update-row > div {
  width: 50%;
}

.update-row img {
  position: absolute;
  left: 10%;
  opacity: 0;
  width: 14rem;
  height: 11rem;
  border-radius: 100%;
  transition: all 1s ease;
}

.update-row:hover img {
  left: 25%;
  opacity: 1;
}

.row-left p {
  font-weight: 400;
}

.row-right {
  margin-top: 2rem;
}

.row-right h4 {
  font-size: 4rem;
  font-weight: 400;
}

.row-right span {
  font-size: 1.4rem;
  position: relative;
  top: -1rem;
}

.text-marquee {
  width: 100%;
  overflow: hidden;
}

.text-marquee-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  animation: marqueetxt 100s linear infinite;
}

@keyframes marqueetxt {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-150%);
  }
}

.text-marquee-wrapper h2 {
  flex-shrink: 0;
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.text-marquee-wrapper h2 span {
  font-family: "Poppins";
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 42.5%;
  }
}

@media screen and (max-width: 1024px) {
}
