@font-face {
  font-family: "Soliden Trial";
  src: url("../fonts/SolidenTrial-BlackExpanded.eot");
  src: url("../fonts/SolidenTrial-BlackExpanded.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SolidenTrial-BlackExpanded.woff2") format("woff2"),
    url("../fonts/SolidenTrial-BlackExpanded.woff") format("woff"),
    url("../fonts/SolidenTrial-BlackExpanded.ttf") format("truetype"),
    url("../fonts/SolidenTrial-BlackExpanded.svg#SolidenTrial-BlackExpanded")
      format("svg");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.space-bit {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Soliden Trial";
  font-size: 6rem;
}

h2 {
  font-family: "Soliden Trial";
  font-size: 5.4rem;
}

h3 {
  font-family: "Soliden Trial";
  font-size: 4rem;
}

.nav {
  padding: 1.5rem 6rem;
  margin-top: 2rem;
  border-top: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
  margin-bottom: 4rem;
  overflow: hidden;
}

.logo {
  position: relative;
}

.logo::before {
  content: "\ebe2";
  font-family: "remixicon";
  position: absolute;
  right: -0.2rem;
}

.logo:after {
  content: "model management";
  position: absolute;
  bottom: -0.1rem;
  right: 0;
  font-size: 1.2rem;
  color: #8c8c8c;
}

.logo h2 {
  font-family: "Soliden Trial";
  letter-spacing: -0.3rem;
}

.menu-list.flex {
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  padding: 3.4rem 6.6rem;
  border-right: 0.2rem solid #000;
  font-weight: 600;
}

.menu-list div i.ri-search-line {
  font-size: 3rem;
}

.video {
  position: relative;
  width: calc(100% - 12rem);
  height: 90vh;
  margin: 0 6rem;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.overlay > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.video h1 {
  font-family: "Soliden Trial";
  color: #fff;
  max-width: 59rem;
  margin-bottom: 4rem;
}

.video-title p {
  color: #fff;
  padding: 3.5rem 4.2rem;
  border: 0.1rem solid #fff;
  border-radius: 15rem;
}

.video-link {
  margin-top: 2rem;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.video-link svg {
  width: 5rem;
  height: auto;
}

.modal-marque {
  width: 100%;
  overflow: hidden;
  padding: 6rem 0;
  white-space: nowrap;
}

.modal-container {
  width: 100%;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.modal-container:hover {
  animation-play-state: paused;
}

.modal-details {
  display: inline-block;
  gap: 2rem;
  margin: 0 2.5rem;
  text-align: center;
  width: 10%;
}

.modal-details img {
  width: 100%;
  height: 14.5rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.5s ease;
}

.modal-details:hover img {
  transform: scale(1.1);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-28%);
  }
}

.category {
  padding: 2.5rem 6rem;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
  overflow-y: auto;
  flex-wrap: nowrap;
  border-top: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
}

.category::-webkit-scrollbar {
  display: none;
}

.category-txt {
  gap: 4rem;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.category-txt p {
  position: relative;
}

.category-txt p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  opacity: 0;
  border: 0.1rem solid #000;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.category-txt p:hover::after {
  width: 3rem;
  height: 2.2rem;
  opacity: 1;
}

.vogue-shot.flex {
  width: calc(100% - 12rem);
  margin: 6rem 6rem;
}

.vogue-shot.flex > div:first-child {
  width: 55%;
  padding-right: 5rem;
}
.vogue-shot.flex > div:last-child {
  width: 45%;
}

.vogue-shot.flex > div img {
  width: 100%;
  height: 100rem;
  object-fit: cover;
  margin-bottom: 2.5rem;
  transform: scaleX(-1);
}

.vogue-shot.flex > div:last-child img {
  height: 80rem;
  object-position: top;
  transform: scaleX(1);
}

.shot-right-bottom div:first-child p {
  font-weight: bold;
  padding-right: 4rem;
  text-align: justify;
  font-size: 2.5rem;
}

.shot-right-bottom div:last-child p {
  font-weight: normal;
  text-align: justify;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 42.5%;
  }
}

@media screen and (max-width: 1024px) {
}
